
.DS_Store
.AppleDouble
.LSOverride


xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
DerivedData/
build/


/.build/
/Packages/


/Pods/


/Carthage/Build/


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output


.swiftpm/xcode/xcuserdata/


*.swp
*.lock


/tutorial-app/.DS_Store
/tutorial-app/tutorial-app.xcodeproj/project.xcworkspace/xcuserdata/xcuserdata.xcuserstate
